.navbar{
  width: auto;
  margin: auto;
  padding-left: 30px;
}
.flex-item {
  background-color: white;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
}
.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.flex-items1 img{
  max-width: 100px;
}

.flex-items2{
    
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;    
  width: 100%;
  text-align: center;
  line-height: 100px;

}
